<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="settings"></ion-icon>
            Réglages

        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding>



    <ion-item>

        <ion-badge> Etat : {{statut}}</ion-badge>
    </ion-item>
    <ion-list radio-group>
        <ion-list-header>
            Choisissez votre boitier Bluetooth dans la liste
        </ion-list-header>

        <ion-item *ngIf="devices == null">
            <ion-label>Aucun Périphérique trouvé</ion-label>
        </ion-item>

        <ion-item *ngFor="let item of devices">
            <ion-label>{{item["name"]}}</ion-label>
            <ion-radio value={{item}} (ionSelect)="setMacAddress(item)"></ion-radio>
        </ion-item>
    </ion-list>


    <ion-item>
        <button ion-button large round icon-only item-start on-tap="showDevices()">
            <ion-icon name="refresh-circle"></ion-icon>
        </button>
        <button ion-button item-end on-tap="connectBluetooth()" [disabled]="connected">Connecter</button>
        <button ion-button item-end on-tap="disconnectBluetooth()" [disabled]="!connected">Déconnecter</button>

    </ion-item>


</ion-content>